@media screen and (min-width: 1900px) {
    #track_title{
    	font-size: 105px;
    }
    #track_title2{
		font-size: 65px;
	}
	#buy{
		font-size:55px;
	}
	#track_info{
		top: 20%;
	}
}

@media screen and (min-width: 1240px) {
    #main_bg{
    	background-position: center center;
    }
}