body{
	background: #000;
	background-size: 100%;
	font-family:"exo";
	margin:0;
	color: white;
	overflow: hidden;
	content: url(../img/bg.jpg) url(../img/facebook.png) url(../img/itunes.png) url(../img/soundcloud.png) url(../img/spotify.png) url(../img/thefatrat_white.png)
	url(../img/twitter.png) url(../img/youtube.png) url(https://i1.sndcdn.com/artworks-000135365799-8zsuzm-t500x500.jpg);

}

@font-face{
    font-family:"exo";
    src:url("font/Exo2-Light.ttf") format("TrueType");
    font-weight:normal; 
    font-style:normal; 
    }

@font-face{
    font-family:"euro";
    src:url("font/eurof35.ttf") format("TrueType");
    font-weight:normal; 
    font-style:normal; 
    }

@font-face{
    font-family:"sf";
    src:url("font/sf.otf") format("OpenType");
    font-weight:normal; 
    font-style:normal; 
    }

#go_play, #go_play:hover,#attention, #track_title, #thefatrat, #buy, #buy:hover, #listen_online, #buy_track, #follow, #track_logo{
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/preload.gif') no-repeat;
    margin: -32px -32px;
    z-index: 100500;
}

#main_bg{
	-webkit-transition-duration: 15s;
	-moz-transition-duration: 15s;
	-o-transition-duration: 15s;
	transition-duration: 15s;
}

#main{
	width: 100%;
	height: 100%;
	position: absolute;
}

#main_bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
	opacity: 0;
	z-index: 0;
}

#nojs{
	position: absolute;
	text-align: center;
	top:50%;
	left: 50%;
	margin: -27.5px -165px;
}

#attention{
	position: absolute;
	text-align: center;
	top:50%;
	left: 50%;
	margin: -45px -330px;
	width: 660px;
}

#go_play{
	position: absolute;
	padding: 5px 35px;
	border: 1px solid white;
	border-radius: 3px;
	bottom:-45px;
	right: 0px;
	cursor: pointer;
}

#go_play:hover{
	background: #fff;
	color: #000;
}

#canvas{
	z-index: 1000;
	position: absolute;
	bottom:-2px;
	left: 50%;
	margin-left: -680px;
}

#track_title{
	font-family:"euro";
	font-size: 80px;
	position: absolute;
	top: 10%;
	left: 8%;
	opacity: 0;
	display: none;
}

#track_title2{
	font-size: 40px;
}

#thefatrat{
	position: absolute;
	top: 6%;
	right: 12%;
	width: 10%;
	opacity:0;
	display: none;
}

#buy{
	position: absolute;
	padding: 10px 30px;
	font-family:"euro";
	font-size: 30px;
	border: 1px solid white;
	border-radius: 3px;
	left: 44%;
	top:30%;
	cursor: pointer;
	display: none;
}

#buy:hover{
	background: #fff;
	color: #000;
}

#track_logo{
	position: absolute;
	left: 8%;
	top: 40%;
	width: 18%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	display:none;
	opacity: 0;
}

#track_info{
	position: absolute;
	top: 8%;
	right: 80px;
	width:400px;
	z-index: 1000;
	display:none;
}

#listen_online{
	text-align: right;
	font-family:"euro";
	font-size: 30px;
	opacity: 0;

}

#track_info p{
	margin-bottom: 10px;
}

#track_info img{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#buy_track{
	text-align: right;
	font-family:"euro";
	font-size: 30px;
	opacity: 0;
}

#follow{
	margin-top: 45px;
	text-align: right;
	font-family:"euro";
	font-size: 30px;
	opacity: 0;
}